讀取資料
看前五筆資料

In [4]:
import pandas as pd

df = pd.read_csv('./movie_data.csv', encoding='utf-8')
df.head(5)

                                              review  sentiment
0  In 1974, the teenager Martha Moxley (Maggie Gr...          1
1  OK... so... I really like Kris Kristofferson a...          0
2  ***SPOILER*** Do not read this, if you think a...          0
3  hi for all the people who have seen this wonde...          1
4  I recently bought the DVD, forgetting just how...          0

查看資料筆數和欄位數

In [5]:
df.shape

(50000, 2)

切分資料集 train, val, test，其中train:test=7:3, 再從train set 中分出validate set

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df['review'], df['sentiment'], train_size=0.7, test_size=0.3)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, train_size=0.7, test_size=0.3)
print(x_train.head(5))
print(x_test.head(5))
print(y_train.head(5))
print(y_test.head(5))

dict = {'review':x_test, 'sentiment':y_test}
df = pd.DataFrame(dict)
df.to_csv('imdb_test.csv', header=True, index=False)

dict = {'review':x_val, 'sentiment':y_val}
df = pd.DataFrame(dict)
df.to_csv('imdb_val.csv', header=True, index=False)

dict = {'review':x_train, 'sentiment':y_train}
df = pd.DataFrame(dict)
df.to_csv('imdb_train.csv', header=True, index=False)

1989     Ramin Bahrani sets up a scene early on in Chop...
3854     As many have detailed here with a level of ser...
26879    Dr. Franz Tobel, a Swiss scientist, is smuggle...
26500    I have lost count of how many reviews I've wri...
44783    Oh how I laughed....this has it all...an Asian...
Name: review, dtype: object
49821    After Watergate, Vietnam and the dark days of ...
999      This begins a wager between Edgar Allen Poe an...
15211    Having seen CUBE, I've been a fan of Vincenzo ...
30483    First off, let it be known that I came into th...
37317    From the critical acclaim, I expected more fro...
Name: review, dtype: object
1989     1
3854     0
26879    1
26500    1
44783    0
Name: sentiment, dtype: int64
49821    0
999      1
15211    1
30483    1
37317    0
Name: sentiment, dtype: int64

使用tf-idf當作特徵

NameError: name 'python' is not defined